*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

.btn{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.popup{
    width: 400px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 35%;
    transform: translate(-50% -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    border-radius: 6px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    top: 30%;
    transform: translate(-50% -50%) scale(1);
    visibility: visible;
}

.popup img{
    width: 100px;
    margin-top: -50px;
}

.popup h2{
    font-size: 38px;
    padding: 20px;
}

.popup button{
    width: 100%;
    margin-top: 10%;
    padding: 10px;
    background-color: #6CAD08;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
}